@use '@angular/material' as mat;

@include mat.core();

// Создание темы Material 3
$fakecheck-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
  ),
  density: (
    scale: 0,
  )
));

// Применение темы
html {
  @include mat.all-component-themes($fakecheck-theme);
}

// Глобальные стили
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

// Утилиты
.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}
